<p-dialog header="Billing Info" [(visible)]="display" [modal]="false" [responsive]="true" [style]="{width: '400px', minWidth: '400px'}" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
<p-tabView>
    <p-tabPanel header="{{ billInfo.header }}" [closable]="true" *ngFor="let billInfo of billInfos">
        {{ billInfo.body }}
    </p-tabPanel>
</p-tabView>
</p-dialog>

<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button>
<button type="button" (click)="addTab()" pButton icon="pi pi-plus-circle" label="Add Tab"></button>